<div class="fxRow"><div style="padding: 5px;"><a routerLinkActive="active" routerLink="/Project"> Projects </a></div></div>
<div class="text">
  While the AngularJS version of the chessboard is still in progress there is<br>
  a JS only version that you can view and interact with via <a href="https://jsfiddle.net/JonJazdzewski/ph1bt3se/3/" target="_blank">this link.</a><br>
  <br>
  <b>Known issues with this version:</b><br>
  <li>Box sizing issues with jsfiddle.
  <li>Script occasionally decides that the game is a stalemate, but still allows the player to move.
  <li>Pure JS does not allow the board to display the player move until the script registers a movement of its own.

</div>
