
<!--highlight : style="border:2px solid rgb(236, 253, 116)"-->
<body>
    <table id="check">
        <tr style="max-height: 650px;">
            <td style="vertical-align: top">
    <table class="outerborder">
        <tr>
            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->

            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->
            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->

            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->
            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->

            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->
            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->

            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->
        </tr>


        <!---->
        <tr>
            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->

            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->
            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->

            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->
            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->

            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->
            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->

            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->
        </tr>
        <tr>
            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->

            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->
            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->

            <!--redbox-->
            <td class="box64red box64" >
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->
            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->

            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->
            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->

            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->
        </tr>


        <!---->
        <tr>
            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->

            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->
            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->

            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->
            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->

            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->
            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->

            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->
        </tr>
        <tr>
            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->

            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->
            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->

            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->
            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->

            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->
            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->

            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->
        </tr>


        <!---->
        <tr>
            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->

            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->
            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->

            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->
            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->

            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->
            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->

            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->
        </tr>
        <tr>
            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->

            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->
            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->

            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->
            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->

            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->
            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->

            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->
        </tr>


        <!---->
        <tr>
            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->

            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->
            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->

            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->
            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->

            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->
            <!--redbox-->
            <td class="box64red box64">
                <table>
                    <tr>
                        <td class="innerred1">
                            
                        </td>
                        <td class="innerred2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerred3">
                            
                        </td>
                        <td class="innerred4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end redbox-->

            <!--whitebox-->
            <td class="box64white box64">
                <table>
                    <tr>
                        <td class="innerwhite1">
                            
                        </td>
                        <td class="innerwhite2">
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="innerwhite3">
                            
                        </td>
                        <td class="innerwhite4">
                            
                        </td>
                    </tr>
                </table>
            </td>
            <!--end whitebox-->
        </tr>

    </table>
</td>
<td class="scoresheetbox">
    <div style="height: 675px; overflow: scroll">
    <table id ="scoresheet">
        <tr>
        <td>1.</td>
        </tr>
    </table>
    </div>
    <div style="font-size: 10pt">All images downloaded from Wikipedia</div>
    </td>
</tr>
    </table>
    <table style="width: 644px">
        <tr style="width:100%">
            <td style="width: 50%" id="takenwhite"></td>
            <td style="text-align: right" id="takenblack"></td>
        </tr>
    </table>
    <div class="promoteBox" style="font-size:16pt; display:none">
    Promote Pawn:<br><br>
        <input type="radio" name="promo" value="Q"><img height="45px" width=auto src="img/wQ.png"><br><br>
        <input type="radio" name="promo" value="R"><img height="45px" width=auto src="img/wR.png"><br><br>
        <input type="radio" name="promo" value="B"><img height="45px" width=auto src="img/wB.png"><br><br>
        <input type="radio" name="promo" value="N"><img height="45px" width=auto src="img/wN.png"><br>
        
    <button type="button" id="promoteButton" style="margin-top:5px">Go!</button>
    </div>
</body>