<div class="fxRow">
  <div class="NavBox" > <a routerLinkActive="active" routerLink="/Home">Home</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Project">Projects</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Contact">Contact</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Resume">Resume </a></div>
</div>
<h3> Jon Jazdzewski (YAZ-dev-ski)</h3>
Phone: 509 768 0294<br>
E-mail: JonJazdzewski@gmail.com<br><br>

Best times to contact me:<br>
Monday - Wednesday: 9:00am to 10:30am<br>
Thursday and Friday: 8:30am to 12:30pm