.playlist, tr, td{
  border: 1px solid black;
}
.playlist{
  font-family: Georgia;
}
a:hover{
  cursor: pointer;
}
.fxRow{
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: start space-around;
  align-items: flex-start;
}
#explanation{
  width: 20%;
  overflow: scroll;
  background: white;
  padding: 1%;
}
#go{
  margin-top:10%;
}
.fxRow2{
  flex-direction: row;
  box-sizing: border-box;
  display: float;
  place-content: stretch space-around;
  align-items: stretch;
  width:fit-content;
}
.fxRow2 :hover{
  background: gray;
  cursor:pointer;
}
a{
  font-weight: bold;
    text-decoration: none;
  color:rgb(95, 95, 95);
}