<a routerLinkActive="active" routerLink="/Project"> Projects </a>

  <div class="fxRow">
    <div></div>
	<div id="output"></div>
  <button id="go">Go!</button>
  <div id="explanation">
    Select a song from the below playlists and the page will list the chance that song should play based on the following rules:<br>
    Every song in "your" playlist that also appears in a playlist below has a chance to play a random song from that playlist that isn't also in "your" playlist.<br>
    The more songs that overlap the greater chance the playlist will be chosen.
  </div>
  <div></div>
  </div>


		<div id="rowOne" class="fxRow"></div>
		<div id="rowTwo" class="fxRow"></div>

