<div>
<div class="row" style="margin-left:250px">
    <div *ngFor="let row of board.rows" class="topBox"></div>
</div>
<div *ngFor="let row of board.rows" class="row">
    <div class="leftBox"></div>
    <div *ngFor="let square of row.squares, let i = index" class="box">
        
        <div *ngIf="row.squares[i] >= 2">
            
        </div>
        <div *ngIf="!row.squares[i]">
            X
        </div>
        <div *ngIf="row.squares[i] && row.squares[i] < 2">
        <div class="fillbox"></div>
        </div>
    </div><br>
</div>
</div>
