.leftBox{
    height: 50px;
    width: 125px;
    background-color: rgb(184, 213, 241);
    border-left: 1px solid black;
}
.topBox{
    height: 125px;
    width: 50px;
    background-color: rgb(184, 213, 241);
    border-left: 1px solid black;
}
.box {
    height: 50px;
    width: 50px;
    background-color: white;
    border-left: 1px solid black;
    font-size: 50px;
    text-align: center;
}
.fillbox{
    height: 50px;
    width: 50px;
    background-color: black;
    border-left: 1px solid black;
}
.row{
    flex-direction: row;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  margin-left:50px;
  border: 1px solid black;
  width:fit-content;
  border-left: none;
}
.topBox input{
    width: 50%;
   /* -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); */
    background:white;
}
.leftBox input{
    width: 50%;
}