p {
  font-family: Lato;
}
.NavBox{
  font-weight:bold; 
  font-family:Arial;
  padding: 5px;
}
.fxRow{
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: stretch space-around;
  align-items: stretch;
}
.fxRow :hover{
  background: gray;
  cursor:pointer;
}
body{
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/checkerboard-cross.png");
}