<a routerLinkActive="active" routerLink="/Project"> Projects </a>
<div class="container">

  <div id="textbox" style="margin:auto">
  </div>
  <div style="height:400px; width:30%; margin:auto">
    <div class="container" style="width:100%; height:50%">
      <div style="width:25%">Your numbers:</div>
      <div style="margin:auto"><input type="number" min="0" max="9"></div>
      <div style="margin:auto"><input type="number" min="0" max="9"></div>
      <div style="margin:auto"><input type="number" min="0" max="9"></div>
      <div style="margin:auto"><input type="number" min="0" max="9"></div>
      <div style="margin:auto"><input type="number" min="0" max="9"></div>
    </div>
    <div class="container" style="width:100%; height:50%">
      <div style="width:25%">My Guess:</div>
      <div style="margin:auto"><input type="number" min="0" max="9"></div>
      <div style="margin:auto"><input type="number" min="0" max="9"></div>
      <div style="margin:auto"><input type="number" min="0" max="9"></div>
      <div style="margin:auto"><input type="number" min="0" max="9"></div>
      <div style="margin:auto"><input type="number" min="0" max="9"></div>
    </div>
  </div>
  <div style="width:15%"></div>
</div>