<a routerLinkActive="active" routerLink="/Project"> Projects </a>
<div class="container">

  <div id="textbox" style="margin:auto">
  </div>
  <div style="margin:auto"><input type="number" min="0" max="9"></div>
  <div style="margin:auto"><input type="number" min="0" max="9"></div>
  <div style="margin:auto"><input type="number" min="0" max="9"></div>
  <div style="margin:auto"><input type="number" min="0" max="9"></div>
  <div style="margin:auto"><input type="number" min="0" max="9"></div>

</div>