#textbox{
  height: 400px;
  width: 550px;
  overflow: scroll;
  background: white;
  margin-top: 2%;
}

.container {
  display:flex;
  width:100%;
}

#bottomText{
  margin-left:5%;
  margin-top: 1%;
}

.guessNums{
  margin:auto;
  width:50px;
  height:60px;
  background:white;
  font-size:50px;
  padding-left:5px
}