<div class="fxRow">
  <div class="NavBox" > <a routerLinkActive="active" routerLink="/Home">Home</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/blog">Blog</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Project">Projects</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Contact">Contact</a></div>
  
</div>
<a href="assets/img/Resume.pdf">Download resume as a PDF</a><br>
<object style='min-height: 90vh; min-width: 100vh;' data='assets/img/Resume.pdf' type='application/pdf' class='embed-responsive-item'></object>
  
