<div class="fxRow">
  <div class="NavBox" > <a routerLinkActive="active" routerLink="/Home">Home</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Project">Projects</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Contact">Contact</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Resume">Resume </a></div>
</div>
<div style="font-size:15pt; text-align:center;"> <b>Jonathan Jazdzewski</b><br>
18111 25th Ave NE Marysville, WA 98271    ||    509-768-0294    ||    JonJazdzewski@gmail.com</div>

<div style="font-size:14pt;"><b>WORK EXPERIENCE</b></div>
<br>
<b>LABCORP</b>, Seattle, WA<br>
<ul>
<li>Clinical Laboratory Scientist (April 2018 – Present)
<ul>
<li>Manual and automatic testing of patient samples
<li>Note
  </ul>
  </ul>
<b>ECHO LEAGUE</b>, Remote
<ul>
<li>Back-End Web App and Discord Bot Developer (December 2016 - March 2018)
  <ul>
<li>Developed skill algorithm.
<li>Developed and managed discord bot to handle common questions and post ads periodically.
  </ul>
  </ul>
<b>ROCKWOOD CLINIC</b>, Spokane, WA
<ul>
<li>Clinical Laboratory Scientist (April 2016 - April 2018)
<ul><li>Manual and automatic testing of patient samples
<li>Note
  </ul>
  </ul>
<b>PATHOLOGY ASSOCIATES MEDICAL LABORATORIES</b>, Spokane, WA
<ul>
<li>Clinical Laboratory Scientist (January 2015 - April 2016)
<ul><li>Manual and automatic testing of patient samples
<li>Note
  </ul>
  </ul>
<b>QFC</b>, Redmond, WA
<ul>
<li>Bakery Clerk (June 2012 - August 2014)
<ul>
  <li>Note
    </ul>
  </ul>
<b>POINT LOMA NAZARENE UNIVERSITY</b>, San Diego, CA
<ul>
<li>Organic Chemistry Lab Assistant (August 2011 – December 2011)
  <ul>
<li>Note
  </ul>  
<li>Organic Chemistry Homework Grader (January 2012 – May 2012)
  <ul>
<li>Note
  </ul>
  </ul>


<div style="font-size:14pt;"><b>EDUCATION</b><br></div>
<br>
<b>OREGON STATE UNIVERSITY</b>, Corvallis, OR
<ul>
<li>Bachelor of Science in Computer Science (expected graduation June 2021)
</ul>
<b>SHORELINE COMMUNITY COLLEGE</b>, Shoreline, WA
<ul>
<li>Medical Lab Technician certification (December 2014)
</ul>
<b>POINT LOMA NAZARENE UNIVERSITY</b>, San Diego, CA
<ul>
<li>Bachelor of Science, Chemistry (May 2012)
</ul>


<div style="font-size:14pt;"><b>SKILLS</b></div><br>

<b>PROGRAMMING LANGUAGES AND SOFTWARE DEVELOPMENT</b>
<ul>
<li>Experience with: SQL, HTML, CSS, JavaScript (including AngularJS and DiscordJS), TypeScript, C++ and C
<li>Work samples available on GitHub at https://github.com/JonJazd
  </ul>
<b>LAB TECHNOLOGY</b>
<ul>
<li>Professionally experienced with Hematology, Immunology, Chemistry and Microbiology laboratory work
  </ul>
<b>SOFTWARE</b>
<ul>
<li>Familiar with enterprise medical software from Siemens, Inova, Sysmex, Beckman Coulter, Abbott, Stago, GenProbe, Antrim, Orchard, Cerner and Epic.
<li>Familiar with Office Suites, Bash/Terminal and VScode.
  </ul>
