.NavBox{
  font-weight:bold; 
  font-family:Arial;
  padding: 5px;
}
.fxRow{
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: stretch space-around;
  align-items: stretch;
}
.fxRow :hover{
  background: gray;
  cursor:pointer;
}
a{
    text-decoration: none;
  color:rgb(95, 95, 95);
}