<div class="fxRow">
  <div class="NavBox" > <a routerLinkActive="active" routerLink="/Home">Home</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/blog">Blog</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Contact">Contact</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Resume">Resume </a></div>
</div>
<div class="mRow" style="margin-top:10%" hover="none">
<div class="selectionBox"> <a routerLinkActive="active" routerLink="/chess"> Chess </a><br>
A basic chess app. Able to look one move ahead (and the reaction to that move)</div>
<div class="space"></div>
<div class="selectionBox"> <a routerLinkActive="active" routerLink="/excavate"> Music </a><br>A simple proof of concept for a music exploration app.</div>
<div class="space"></div>
<div class="selectionBox"> <a routerLinkActive="active" routerLink="/num"> Number Guess </a><br>App that will guess the number you are thinking of if you tell it how many it correctly guessed. </div>
</div>