<div class="fxRow">
  <div class="NavBox" > <a routerLinkActive="active" routerLink="/Home">Home</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Project">Projects</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Contact">Contact</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Resume">Resume </a></div>
</div>
<p>
project works!
</p>

<a routerLinkActive="active" routerLink="/chess"> Chess </a><br>
<a routerLinkActive="active" routerLink="/excavate"> Music </a><br>
<a routerLinkActive="active" routerLink="/num"> Number Guess </a>