<div class="fxRow">
  <div class="NavBox" > <a routerLinkActive="active" routerLink="/Home">Home</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Project">Projects</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Contact">Contact</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Resume">Resume </a></div>
</div>

<app-post [title]="'A Better Ranking System'" [post] = "'How do you quantify skill? We can say for sure that a certain person is well beyond another, but comparing two people equal in skill is extemely difficult, and often subjective. Now add 8 more people into that equation and it's a recipe for disaster.<br>During my time at Echo League I developed and programmed the '">
</app-post>