<div class="fxRow">
  <div class="NavBox" > <a routerLinkActive="active" routerLink="/Home">Home</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Project">Projects</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Contact">Contact</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Resume">Resume </a></div>
</div>
<h1>Blog</h1>
<div *ngFor="let post of blog">
  <div class="blog-post">
  <h3>{{post.title}}</h3>
  <div style="text-align:right">
    {{post.date}}
  </div>
  <div class="post-body">
    <div *ngFor="let paragraph of post.paragraphs">
    {{paragraph}}<br><br>
  </div>
  </div>
</div><br>
</div>