<div style="margin-top: -1%; border:1px solid rgb(170, 240, 240);"></div>
<h2 style="margin-top:4%;">Jon Jazdzewski</h2> 
<img class="portrait" src="this.img">
<div class ="middleBox">
<div class="fxRow">
  <div class="NavBox" > <a routerLinkActive="active" routerLink="/blog">Blog</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Project">Projects</a></div>
<div></div><div></div>
  <div class="NavBox" style="margin-left:10%;"> <a routerLinkActive="active" routerLink="/Contact">Contact</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Resume">Resume </a></div>
</div>
</div>
<div style="text-align:center; width:100%; margin-top:5%;"><!--Burgers * Pizza * Tacos--></div>