<div style="margin-top: -1%; border:1px solid white"></div>
<h2 style="margin-top:4%;">Jon Jazdzewski</h2>
<img class="portrait" src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Poster-sized_portrait_of_Barack_Obama.jpg">
<div class ="middleBox">
<div class="fxRow">
  <div class="NavBox" > <a routerLinkActive="active" routerLink="/Home">Home</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Project">Projects</a></div>
<div></div><div></div>
  <div class="NavBox" style="margin-left:10%;"> <a routerLinkActive="active" routerLink="/Contact">Contact</a></div>
  <div class="NavBox"> <a routerLinkActive="active" routerLink="/Resume">Resume </a></div>
</div>
</div>
<div style="text-align:center; width:100%; margin-top:5%;">Burgers * Pizza * Tacos</div>